@import url('https://fonts.googleapis.com/css?family=Kanit:400,900|Raleway:400,900');

html,body{
	font-family: 'Raleway', sans-serif;
	height: 100%;
	padding: 0;
	margin:0;
}

body{
	height: 100%;
	width:100%;
	background-attachment: fixed;
	background-color: #AF0929;
	background-image:url(../img/back.jpg);
	background-position: center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	color:white;
}

h1,h2,h3{
	margin-bottom: 20px;
}
hr{
	border-bottom:none;
}

a:focus {outline:0;}

a{
	color:white;
}
textarea{
	white-space: pre-line;
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea,select{
	border-radius: 0;
}
.icon{
	font-size: 2em;
	font-weight: 700;
}

.padding{
	padding: 10px;
}

.margin{
	margin: 10px;
}

.row.full{
	max-width: 100%;
}

.unregistered{
	opacity: .5;
}

.money:before{
	content:'$';
}

.tag{
	font-size: 1em;
	color:white;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
	margin-top: 10px;
	cursor: default;
	font-weight: 700;
	text-transform: capitalize;
	
}

.green{
	background: #36A939!important;
}

.tag.green{
	background: #2FAB31;
}

.tag.black{
	background: black;
}

.tag.blue{
	background: #277BB5;
}
.tag.small{
	font-size: .8em;
}


.tooltip{
	max-width: 12rem;
}

.button{
	box-shadow: none;
	color:white;
}

.button.filter{
	padding-top: 12px;
	padding-bottom: 11px;
}


.hastooltip{
	cursor: default;
}

.button.no-shadow{
	box-shadow: none;
}
.no-padding{
	padding: 0;
}

.no-margin{
	margin: 0;
}

.no-background{
	background: none!important;
}

.padding-left{
	padding-left: 10px;
}

.padding-right{
	padding-right: 10px;
}

@media screen and (max-width: 1024px) {
	.padding-left{
		padding-left: 0;
	}

	.padding-right{
		padding-right: 0;
	}
}
.hidden{
	display: none;
}

.button{
	font-size: 1.2em;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.button.green{
	background: #2FAB31;
	color:white;
}

.button.red{
	background:#C73536;
	color:white;
}
.button.blue{
	background: #1779BA;
	color:white;
}

.button.black{
	background: black;
	color:white;
}

.button.facebook{
	background: #4468B0;
	color:white;
}

.button.facebook:hover{
	color:white;
}

.button.facebook i{
	border-right: 1px solid white;
	padding-right: 10px;
	margin-right: 10px;
}

.button.black.opacity{
	background: rgba(0,0,0,.5); 
}

/*STARTS: Login ******************************************/
.login{
	background:white;
	padding: 20px;
	color:#333;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.login label{
	color: #333;
}

.login a,.login a:hover{
	color:#666;
}

.login .alternatives{
	text-align: center;
}
/*ENDS: Login ********************************************/

/*STARTS: Dashboard**************************************/
.dashboard h1{
	text-align: left;
}

.dashboard .list-item{
	text-align: center;
	line-height: 25px;
}

.list-item .status{
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	height: 20px;
	margin-bottom: 20px;
}


.list-item .status .pending,
 .list-item .status .cancelled,.list-item .status .confirmed{
	/*margin-top: 20px;*/
}

 /*.list-item .status .pending,
 .list-item .status .cancelled,.list-item .status .confirmed{
	background: rgba(250,250,250,1);
	padding: 2px;
	width: 40px;
	height: 40px;
	padding-top: 4px;
	margin-top: 20px;
}*/

/* .list-item .status .confirmed{
	color: #2FAB31;

}

.list-item .status .pending{
	color: #1891FC;
}

.list-item .status .cancelled{
	color: #C73536;;
}*/

.dashboard .list-header{

}

.dashboard .incomings{
	background: #2FAB31;
	padding: 20px;
	text-align: center
}

.dashboard .incomings .number{
	font-size: 2em;
	line-height: 1em;
}

.dashboard .incomings .number:before{
	content:'$';
}

.dashboard .hours{
	background: #207AB7;
	padding: 20px;
	text-align: center
}

.dashboard .hours .number{
	font-size: 2em;
	line-height: 1em;
}

.dashboard .list-item{
	color: #333;
}

.dashboard .status .confirmed{

}

.dashboard .reservations{
	margin-bottom: 10px;
}
/*ENDS: Dashboard****************************************/



/*STARTS:Promotions***************************************/
.promotions{
	margin-bottom: 20px;
	background: #eee;
	padding-top: 20px;
	
}



.promotions .disclaimer{
	font-size: .8em;
	font-style: italic;
}
.promotion{
	text-align: left;
	margin-bottom: 10px;
	font-size: 1.2em;
	padding: 10px 20px;
}

.promotion.active{
	background: #C3E5C4;
}

.promotion .title{
	color:black;
	font-weight: 700;
}

.room-single .promotions{
	margin-bottom: 20px;
	background: rgba(0,0,0,.5);
	padding: 20px;
}
.room-single .promotion{
	text-align: left;
	margin-bottom: 10px;
	font-size: 1em;
}

.room-single .promotion .title{
	color:white;
	font-weight: 700;
}

.room-single .contact{
	padding: 20px;
	margin-top: 20px;
}

.room-single .contact.gest{
	background: rgba(0,0,0,.1);
	padding: 20px;
	margin-top: 20px;
}

.room-single .contact i{
	font-size: 2em;
	margin-right:20px;
	margin-top: 20px;
}

.room-single .contact .phone{
	font-size: 1.5em;
}



/*Ends: Promotions***************************************/

/*STARTS: Edition calendar*/

body.full{
	margin-top: -20px;
}
.full .container{
	width:100%;
	max-width: 100%;
	margin-top: 0;
	padding: 0;
}

.full .reservation-desktop{
	margin-bottom: 100px;
}

/*.full .menu_start{
	top:130px;
	left:120px;
}*/

/*ENDS: Edition Calendar*/


/*STARTS: Company Calendar*******************************/

.fc-ltr .fc-time-grid .fc-event-container{
	margin: 0 10% 0 2px;
}

.fc-event .fc-bg{
	opacity: 0;
}
.room-keys{
	position: absolute;
	background: black;
	bottom: 100px;
	min-width:300px; 
	left:0;
	z-index: 9999;
	padding: 10px;
	padding-left: 20px;
	border: 2px solid #333;
	border-left:none;
}

.room-keys .open{
	content: '<';
	position: absolute;
	top: -2px;
	right:-35px;
	width: 35px;
	color: white;
	background: black;
	padding: 10px;
	border: 2px solid #333;
	border-left:none;
	cursor: pointer;
}

.room-keys .title{
	text-transform: uppercase;
	text-align: center;
	color:white;
	border-bottom:2px solid white;
	margin-bottom: 10px;
	clear: both;
}

.room-keys .room-item{
	color: #333;
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.room-keys .room-item .color{
	width: 20px;
	height: 20px;
	background:red;
	border-radius: 100%;
	display: inline-block;
	float: left;
	line-height: 25px;
	margin-right:5px;
}

.room-keys .room-item .text{
	white-space: nowrap;
	color: white;
}

body.company_calendar{
	margin-top: -20px;
}
.company_calendar .container{
	width:100%;
	max-width: 100%;
	margin-top: 0;
	padding: 0;
}

.company_calendar .timer_bar_wrapper{

}

.company_calendar #calendar .app-reservation{
	background-image: url('../img/pattern.png');
	opacity: .8;
}

.company_calendar #calendar .app-reservation.pending:before{
	content: '';
	display: block;
	width: 10px;
	height: 100%;
	background: red;
	position: absolute;
	top: 0;
	right:0;
}

.company_calendar #calendar .fc-time-grid-event{
	border:2px solid white;
}
/*ENDS: Company Calendar*******************************/



/*STARTS: ROOM ITEM *************************************/

.room-item .tag{
	font-size: .8em;
	color:white;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
}

.room-item .tag.blue{
	background:#1779BA;
}

.room-item .tag.green{
	background:#00BF22;
}

.room-item .tag.discount{
	background: #00BF22;
}

.row.room-item{
	position: relative;
	padding: 20px;
}

.room-item .link{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.room-item .status{
	text-align: center;
	/*font-size: 1.5em;*/
	height: 20px
}

.room-item .info{

}

.room-item .colony,.room-item .deputation,.room-item .discount{
	font-size: .8em;
	color:white;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
}

.room-item .colony,.room-item .deputation{
	background:#1779BA;
}

.room-item .discount{
	background: #00BF22;
}

.room-item .price{
	font-size: 1.5em;
	padding-top: 10px;
	text-align: center;
}



/*ENDS: ROOM ITEM ***************************************/


/*STARTS: Skillbars*******************************************/

.skillbar {
	margin-top: 10px;
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:rgba(0,0,0,.3);
	height:10px;
	border-radius:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:100%;
	width:0px;
	background: #00BF22;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
/*ENDS: Skillbars*******************************************/


/*STARTS: PAGINATION*/
.pagination{
	text-align: center;
	margin-top: 10px;
}
.pagination li{
	font-size: 1.5em;
}

.pagination a:hover, .pagination button:hover{
	background: white;
	color:#C73536;
}
/*ENDS: PAGINATION*/

/*FORM*/
.form_wrapper .reservation_opt{
	padding-top: 20px;
	cursor: pointer;
}
.form_wrapper .reservation_opt .switch{
	height: 50px;
	width:85px;
	overflow: hidden;
	background: url('../img/switch.png') bottom left;
	float: left;
}

.form_wrapper .reservation_opt .switch.on{
	background-position:top left;
}

.form_wrapper .reservation_opt .label_opt{
	padding-left: 10px;
	padding-top: 15px;
	float: left;
	margin-right: 10px;
}



.form_wrapper .reservation_opt .label_opt{
	
}

.form_wrapper select{
	margin-bottom: 0px;
}
.form_wrapper label.option_label{
	padding:10px 20px;
	display: inline-block;
}

.form_wrapper label.option_label.blue{
	background: #207AB7;
}

textarea.input-group-field{
	white-space: normal;
}
.rating{
	display: none;
}

.br-theme-fontawesome-stars-o .br-widget a.br-selected:after{
	color:#EDB867;
}

.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after{
	color:#EDB867;
}

.br-theme-fontawesome-stars-o .br-widget a:after{
	color:#EDB867;
}

.br-theme-fontawesome-stars-o .br-widget a.br-active:after{
	color:#EDB867;
}

.br-widget{
	text-align: center
}
.chosen-container{
	width: 100%!important;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text]{
	margin-top: 5px;
	font-size: inherit;
	font-family: inherit;
}

.chosen-container .chosen-drop{
	margin-top: -20px;
}

.chosen-container-multi .chosen-choices{
	min-height: 43px;
	margin-bottom: 20px;
}

.chosen-container .chosen-results li.highlighted{
	background: #1779BA;
}

.chosen-container-multi .chosen-choices li.search-choice{
	background: #2FAB31;
	border:none;
	border-radius: 3px;
	color: white;
	padding: 5px 20px 5px 5px;
	border:none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
	background: url('../img/close_tag.png');
	background-size: cover;
	width: 8px;
	height:8px;
	top:8px;
	right:5px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{
	background-position: inherit;
}



#map-canvas{
	height: 300px;
	border: 8px solid white;
}



.form_wrapper .g-recaptcha div{
	margin:auto;
}

.form_wrapper #slider-range{
	background: rgba(0,0,0,.3);
}

.form_wrapper .slider_number{
	margin-top: -5px;
}

.form_wrapper #slider-range{
	width: 90%;
	margin:10px auto 0 auto;
}

.form_wrapper .disclaimer{
	padding: 10px;
}

.form_wrapper .ui-widget-content, .ui-widget.ui-widget-content{
	margin-top: -13px;
    margin-left: -3px;
}

.form_wrapper h3{
	background: black;
	display: inline-block;
	padding:10px;
	margin-top: 20px;
}
.form_wrapper label{
	margin-top: 10px;
	background: black;
	padding: 0px 10px;
	font-size: 1em;
}

.form_wrapper label.error{
	margin-top: 0;
	background: rgba(0,0,0,.2);
	color:white;
}

.form_wrapper input{
	margin-bottom: 0;
}

.form_wrapper .columns{
	margin-bottom: 10px;
}

.form_wrapper input,.form_wrapper select, .form_wrapper textarea{
	/*margin-bottom: 10px;*/
}

.form_wrapper h1,.form_wrapper h2{

}

.input-group-label .hastooltip{
	margin-left: 5px;
}

form .clarification{
	margin-bottom: 20px;
	margin-top: 10px;
}
.new_address{
	margin-bottom: 20px;
	display: none;
}

.qq-gallery .qq-upload-cancel{
	background: black;
	padding: 0;
}

.qq-gallery .qq-upload-drop-area-active{
	border:#333 3px dotted;
	padding: 20px;
	background: url(../img/drop.png) no-repeat center center;
}

.qq-gallery .qq-upload-button{
	background: black;
	border:none;
	width: inherit;
	cursor: pointer;
}
.qq-gallery.qq-uploader{
	border:none;
	border-radius: 0;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	background-color: #fefefe;
	border: 1px solid #cacaca;
}

.add{
	border:rgba(0,0,0,.5) 3px dotted;
	color:rgba(0,0,0,.5);
	font-size: 1em;
	text-align: center;
	line-height: 2em;
	cursor: pointer;
}

textarea{
	min-height:200px;
}

label{
	color:white;
	font-style: italic;
}
.input-group-label{
	background: black;
	color: white;
	border:none;
	min-width: 120px;
	font-size: .8em;
	height: 43px;
}
.input-group > :last-child > *{
	border-radius: 0;
}

.colorpicker{
	text-indent: -9999px;
	border: none;
	height: 43px;
	cursor: pointer;
}

.evo-cp-wrap{
	width:100%!important;
}
.evo-palcenter{
	background: black;
	color: white;
	padding: 20px;
	width: 220px;
}

.evo-palette .ui-widget-content{
	color:white;
}

.evo-more, .evo-color{
	display: none;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.2em;
}
@media only screen and (max-width: 500px) {
	h2{
	font-size: 1em;
}
}
.legal{
	padding:0.7rem 1rem;
	font-size: .7em;
}

.menu_start{
	position: fixed;
	top: -1px;
	left: 10px;
	background: white;
	color:#AF0929;
	font-size: .8em;
	text-align: center;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	border-radius: 0 0 10px 10px;
	cursor: pointer;
	font-size: 1.2em;
	z-index: 2;
}

.company_calendar .menu_start{
	top: 33px;
	left: 130px;
}

.menu_start:hover{
	color:#DE353A;
}

.off-canvas{
	background: #DE353A;
	background: black;

}

.off-canvas a{
	color:white;
}


.off-canvas .logo_menu{
	margin-top:50px;
	text-align: center;
}

.off-canvas .close-button:hover, .close-button:focus{
	color:#EEEEEE;
}

.menu li:hover{
	background: #333333;
}
.beta{
	position: absolute;
	top: -1px;
	right: 10px;
	background: white;
	color:#AF0929;
	font-size: .8em;
	text-align: center;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	border-radius: 0 0 10px 10px;
	cursor: pointer;

}


a:hover, a:focus{
	color:white;
}
.container{
	margin-top: 20px;
	width: 80%;
	max-width: 1024px;
	margin:auto;
	padding-top: 50px;
	padding-bottom: 100px;

}

@media only screen and (max-width: 500px) {
	.container{
		width: 100%;
	}
}

h1,h2,h3,h4{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-align: center;
}

h2,h3{
	text-transform: uppercase;
}

h4{
	text-transform: uppercase;
	font-size: 1em;
}
nav.main{
	margin-bottom: 30px;
}
nav.main ul{
	text-align: center;
}
nav.main ul li{
	list-style: none;
	display: inline-block;
	margin-right:10px;
	border-left:1px solid white;
	padding-left: 10px;
}
nav.main ul li:first-child{
	border-left:none;
}
nav.main ul li a{
	color:white;
}

/*SONGS */

.list-header{
	background: rgba(0,0,0,.8);
	text-align: center;
	padding: 20px;
}

h3.list-header{
	margin:0;
}

.list-item{
	color:white;
	padding: 10px;
	list-style: none;
}

.list-item .color{
	width: 30px;
	height: 30px;
	display: inline-block;
	border:solid white 2px;
	margin-top: 20px;
}

.list-item button{
	color:white;
}
.list-item:nth-child(even) {color:white;background: rgba(250,250,250,.1)}
.list-item:nth-child(odd) {color:white;background: rgba(0,0,0,.1)}

.list_rey{
	margin:auto;
}

.list_rey li{
	list-style: none;
	background: white;
	color:#DE353A;
	padding: 10px;
	margin-bottom:10px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	padding-left: 20px;
}
@media only screen and (max-width: 500px) {
	.list_rey li{
		font-size: .8em;
	}
}

.list_rey li a{
	color:#DE353A;
	width:100%;
	height: 100%;
	display: block;
}

.list_rey li a:hover,.list_rey li a:focus{
	color:#DE353A;
	width:100%;
}

.list_rey li .trash,.list_rey li .trash_song{
	position: absolute;
	top:0;
	right:5px;
	background: #DE353A;
	color: white;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	width:40px;
	text-align: center;

}

.list_rey li .edit{
	position: absolute;
	top:0;
	right:40px;
	background: #333333;
	color: white;
	display: block;
	padding: 10px;
	cursor: pointer;
	width:40px;
	text-align: center
}

.list_rey li .edit:hover,.list_rey li .edit:active,.list_rey li .edit:visited{
	color:white;
	width: 40px;
}


.list_rey li.song{
	cursor: all-scroll;
}

.list_rey li.song.list_song{
	cursor: default;
}

.list_rey li.song .intencity{
	width: 5px;
	height: 100px;
	background-color: #333;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999px;
	overflow: hidden;
}

.list_rey li.song .intencity.high{
	background-color: red;
}

.list_rey li.song .intencity.medium{
	background-color: #F1BD2B;
}

.list_rey li.song .intencity.low{
	background-color: #00BF22;
}



/*SETLIST & SONGS*/
.title{
	color: #666;
}

.duration{
	color:#333;
}

h1 .duration{
	font-size: .8em;
}

.reveal{
	background-image:url(../img/back.jpg);
	padding: 40px;
	padding-top: 80px;
	border:none;
	min-height: 300px;
}

.reveal .close-button{
	color:white;
}
.reveal .close-button,.reveal .close-button.medium{
	top:1em;
	right:1em;
}

/*STARTS: Calendar***********************************/
.company .fc-agenda-view .fc-content .fc-time,.fc-agenda-view .fc-content .fc-title{
	display: inline-block;
}


.company .fc-view-container {
  width: auto;
}

.company .fc-view-container .fc-month-view {
  overflow-x: scroll;
}

.company .fc-view-container .fc-month-view > table {
  min-width: 800px;
}

#calendar .button.red{
	background:#C73536;
	color:white;
	border:1px solid red;
}

#calendar .cancel_reservation{
	margin-top: 10px;
	margin-left: 20px;
}
.desktop{
	background: white;
}

.calendar-header{
	background: black;
	padding: 20px;
}
.calendar-header h1{
	font-size: 1.5em;
	text-align: left;
	margin:0;
}

.calendar-header h2{
	font-size: 1em;
	text-align: left;
	margin:0;
}



#calendar .fc-v-event {

}

#calendar .fc-v-event .fc-time{
	font-size: 2em;
	padding-left: 20px;
}

#calendar .fc-v-event .fc-title{
	font-size: 1.5em;
	padding-left: 10px;
}

#calendar .fc-content .closeon{
	position: absolute;
	top: 10px;
	right:20px;
	z-index: 2;
}

#calendar .fc-content .cancel_reservation{
	position: absolute;
	top: 10px;
	right:20px;
	z-index: 2;
}


#calendar{
	background: white;
	padding: 20px;
	color:#333;
	margin-bottom: 60px;
}


#calendar a{
	color:red;
	color:#333;
}

#calendar .fc-day-header{
	text-transform: capitalize;
}

#calendar .fc-highlight{
	background: #2FAB31;
}

#calendar .fc-event{
	background: #36A93A;
	color: white;
	border:1px dotted white;
	border-radius: 0;
	padding: 5px;
}

#calendar .reservation{
	background: #C73536;
}

#calendar .fc-day{
	cursor: pointer
}

#calendar .fc-month-view .occupied{
	display:none;
}

#calendar.edit .fc-month-view .occupied{
	display:block;
}

#calendar .fc-event.occupied{
	background:#C73536;
}

.fc-agendaWeek-view tr {
    height: 33px;
}

.fc-agendaDay-view tr {
    height: 33px;
}
.reservation-desktop{
	background: white;
}

.reservation-desktop h3{
	color:#333;
}

.reservation-desktop h4{
	color:#333;
}
.reservation-desktop p{
	color:#333;
}

.reservation-desktop .display{
	padding: 20px;
	text-align: center;
}

.reservation-desktop .display.total-hours {
	background: #2FAB31;
}

.reservation-desktop .display.total-hours .number{
	font-size: 3em;
}

.reservation-desktop .display.total-price {
	background: #1779BA;
}

.reservation-desktop .display.total-price .number{
	font-size: 1.5em;
}

.reservation-desktop .display.clarification{
	background: white;
	color:#333;
	font-size: .8em;
}

.reservation-desktop .display.clarification button{
	margin-top: 20px;
}

.reservation-desktop .display.clarification label{
	color:#333;
	text-align: left;
	margin-top:10px;
}

.reservation-desktop .display.clarification label.error{
	margin-top: 0;
	color: #C73536;
}

.reservation-desktop .display.clarification input,.reservation-desktop .display.clarification select{
	margin-bottom: 0;
}

.reservation-desktop .display.clarification .method{
	display: none;
}

.timer_bar_wrapper{
	height: 20px;
	background: #A22A2C;
	position: relative;
}

.timer_bar_wrapper .timer_bar{
	height: 100%;
	width:0;
	background-color: #1779BA;
	z-index: 1;
}

.timer_bar_wrapper .timer_bar_text{
	z-index: 2;
	font-size: .8em;
	line-height: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0;
	left:0;
}
/*ENDS: Calendar*************************************/

/*STARTS: Checkout ahora Confirmation********************************************/

.checkout{
	background: white;
	color:#333;
}

.checkout .price-info{
	text-align: right;
	margin-bottom: 20px;
	font-size: 2em;
	/*background: #eee;*/
	padding: 20px;
}

.checkout .price-info p{
	font-size: 2em;
}

.checkout .price-info h3{
	font-size: .7em;
}



.checkout .price-info hr{
	border-bottom: 2px solid #333;
	margin: 5px;
}

.checkout .price-info label{
	display: inline-block;
	color: #666;
	margin-right: 10px;
	line-height: 1.9em;
	background: none;
}

.checkout .price-info label.description{
	font-size: .5em;
}

.checkout .header{
	background: black;
	color: white;
	padding: 20px;
}

.checkout .header h1{
	font-size: 2em;
	text-align: left;
}

.checkout .header h2{
	font-size: 1.2em;
	text-align: left;
}

.checkout h3{
	color:#333;
	margin: 20px;
}

.checkout .content ul{
	margin:0;
}

.checkout label{
	color:#333;
	background: white;
	padding-left: 5px;
}

.checkout .content ul .list-item{
	color:#333;
	min-height: 120px;
	padding: 0;
	margin-bottom: 10px;
	background: #EEE;
}

.checkout .content ul .list-item:last-child{
	margin-bottom: 0;
}

.checkout .content ul .list-item .icon-date{
	background: white;
	width: 100px;
	height:100px;
	margin:10px;
	float: left;
	text-align: center;
}

/*.checkout .content ul .list-item:nth-child(even) .icon-date{
	background: #EEE;
}*/

.checkout .method{
	display: none;
}

.checkout .content ul .list-item .icon-date .day{
	font-size: 2em;
	padding-top: 10px;
	display: block;
}

.checkout .content ul .list-item .time{
	font-size: 2em;
}

.checkout .content ul .list-item .icon-date .month{
	color:#C73536;
}

.checkout .content ul .list-item .info{
	padding: 10px;
}

.checkout .content ul .list-item .title{
	padding: 10px;
	display: block;
}
.checkout .instructions{
	padding: 20px;
}

.checkout .instructions .reference{
	color:#C73536;
	font-size: 3em;
	text-align: center;
}
/*ENDS: Checkout********************************************/

/*PRESSKITS*/

.steps{
	position: absolute;;
	top:30px;
	left: 0;
	width: 100%;
	text-align: center;
}

/*.steps:after{
	border-bottom:10px solid white;
	width: 100%;
	height: 10px;
	content: "";
	display: block;
	margin-top: -50px;
}*/

.steps .step{
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: rgba(256,256,256,.3);
	border-radius: 100%;
	text-align: center;
	margin-right: 20px;
}

.steps .step.active{
	background: #00BF22;
}
.owl-carousel,.owl-stage-outer,.owl-stage{
	height: 100%;
}

.owl-carousel .owl-item{
	height: 100%;
	padding-top: 100px;
}

.owl-carousel .owl-item h2{
	text-align: center;
}

.text_wrapper{
	position: relative;
}

.text_wrapper .counter{
	position: absolute;
	left: 0;
	bottom:-30px;
	background: rgba(80,21,22,.4);
	color:white;
	padding: 5px;
	border-radius: 0 0 5px 5px;
	width: 100px;
	height: 30px;
	text-align: center;
	font-size: .7em;
}

/*JQUERY UI*/

.option .ui-state-default, .ui-widget-header .ui-state-default, .option .ui-button{
	width: 100%;
	border:none;
	margin-bottom: 5px;
	padding: 10px;
	border:none;
	outline: none !important;
	box-shadow: none;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
}

.option .ui-button:active, .option .ui-button.ui-state-active:hover{
	background: green;
	border:none;
}

.option.high .ui-state-active,.option.high .ui-button:active, .option.high .ui-button.ui-state-active:hover{
	background: red;
	border:none;
}

.option.medium .ui-state-active,.option.medium .ui-button:active, .option.medium .ui-button.ui-state-active:hover{
	background: #F1BD2B;
	border:none;
}


.option.low .ui-state-active,.option.low .ui-button:active, .option.low .ui-button.ui-state-active:hover{
	background: #00BF22;
	border:none;
}

.ui-button .ui-icon{
	display: none;
}

.wrapper_slider .duration_slider{
	width:70%;
	float: left;
	margin-top:5px;
}

.wrapper_slider .display_slider{
	width:30%;
	float: left;
	text-align: center;
}

.ui-slider .ui-slider-handle{
	border-radius: 100%;
	outline: none !important;
	-webkit-box-shadow: 9px 14px 62px -19px rgba(0,0,0,0.75);
	-moz-box-shadow: 9px 14px 62px -19px rgba(0,0,0,0.75);
	box-shadow: 9px 14px 62px -19px rgba(0,0,0,0.75);
	background: url(../img/handle.png)center;
	border:5px solid black;
	width: 1.5em;
	height: 1.5em;

}

.ui-slider-horizontal .ui-slider-handle{
	top: -.3em;
}

.ui-slider-range{
	background: black;
}

.ui-widget-content,.ui-widget.ui-widget-content{
	border:none;
	background: url('../img/slider_back.png');
	background-size: auto 100%;
	background-position: center center;
}


/*steps*****************************/
.step{
	border-radius: 100%;
	width: 130px;
	height: 130px;
	border: 8px solid black;
	text-align: center;
	color:black;
	padding-top: 25px;
	margin: auto;
	margin-bottom: 15px;


}

.step .description{
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1em;
}

.step .number{
	font-size: 3em;
	font-weight: 700;
	line-height: 1em;
}
/*steps*****************************/



.room-edit .images{
	text-align: center;
	/*background: rgba(0,0,0,.5);*/
	padding: 40px 0;
	margin-bottom: 10px;
}


.room-edit .image{
	width: 25%;
	margin-right: 2%;
/*	overflow: hidden;*/
	display: inline-block;
	border:white 2px solid;
	position: relative;
}

.room-edit .image .delete{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: black;
	text-align: center;
	color: white;
	position: absolute;
	top: -10px;
	right: -10px;
	border-radius: 100%;
	text-align: center;

}


/*STARTS: Room Single******************************************/

.room-item #map{
	width: 100%;
	height: 200px;
	border:5px solid black;
}
.room-item .image{
	width: 25%;
	margin-right: 2%;
	overflow: hidden;
	display: inline-block;
	border:white 2px solid;
}

.room-item .images{
	text-align: center;
	background: rgba(0,0,0,.1);
	padding: 40px 0;
}

.room-item .info{
	margin-bottom: 10px;
	position: relative;
}

.room-item .info .tags{
	margin-top: 30px;
}

.equipment ul{
	margin-left:0;
	margin-bottom: 20px;

}

.equipment ul .list-item{
	padding-left : 20px;
}

.equipment ul .list-item:before{
	content:'\f14a';
	font-family: 'FontAwesome';
	color:black;
	width: 20px;
	height: 20px;
	margin-right:20px;

}

.room-item .full-address{
	margin: 20px 0;
	font-size: 1.3em;

}

.room-item .equipment{
	margin-top: 10px;
}
.room-item.room-single .price{
	font-size: .7em;
	background: black;
	padding: 10px;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	right:20px;
}

.room-item.room-single h1{
	font-size: 2.5em;
	margin:0;
	text-align: left;
	line-height: 2em;
}

.room-item.room-single h2{
	font-size: 1.8em;
	margin: 0;
	text-align: left;
}

.br-theme-fontawesome-stars-o .br-widget{
	/*display: inline-block;*/
}

.room-item .rating_wrapper{
	padding-top: 20px;
}

.comments-wrapper{
	color:white;
	margin-top: 20px;
	margin-bottom: 80px;
}



.comments-wrapper .comment-form{
	background: white;
	padding: 20px 50px;
}

.comments-wrapper .comment-form label{
	color:#333;
}

.comment{
	padding: 20px 50px;
}


.comment label{
	color: #333;
}

.comment .button{
	box-shadow: none;
}

.comment-form textarea{
	min-height: 100px;
}

.comment .sign{
	text-align: left;
	margin-top: 20px;
	font-weight: 700;
}

.comment .sign .date{
	font-weight: 400;
}

.comment .sign .delete{
	font-weight: 400;
	color:#C73536;
	font-size: .8em;
}


.comment .title{
	font-size: 1em;
	margin-bottom: 10px;
	color:#C73536;
	font-weight: 700;
	text-transform: uppercase;

}

.comments .comment .description{
	font-size: .9em;

}

.comment:nth-child(even) {color:#333;background: white;}
.comment:nth-child(odd) {color:#333;background: #eee}

.comment.active{
	background: #85C985;
}

.comment-swal.sweet-alert h2{
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.comment_form .hastooltip{
	cursor: pointer;	
}

/*
.room-item .list-item:nth-child(even) {color:#333;background: rgba(250,250,250,1);}
.room-item .list-item:nth-child(odd) {color:#333;background: #eee}*/

/*ENDS: Room Single********************************************/

/*STARTS: lightbox*********************************************/
.lb-data .lb-close{
	position: absolute;
    top: -20px;
    right: 20px;
}
/*ENDS: Lightbox***********************************************/
/*DATE PICKER********************************************************/

.ui-datepicker-calendar{
	background-color: white;
}

.ui-widget-content, .ui-widget.ui-widget-content{
	background: none;
}

.ui-datepicker-calendar thead{
	color: black;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background: #eee;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border:none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border:none;
}
/*ENDS: DATE PICKER**************************************************/

/*STARTS: Sweet alert*****************************************************/
.sweet-alert{
	position: absolute;
	top:150px;
}

.sweet-alert p{
	font-size: 20px;
}

.swal-form input.nice-input{
	width:100%;
	margin-bottom: 10px;
}

.sa-button-container button{
	min-width: 200px;
}

@media screen and (max-width: 1024px) {
	.sweet-alert{
		top:100px;
		max-height: 80%;
	}
	.sweet-alert .confirm{
		margin-bottom: 20px;
	}


}

/*STARTS: Edit-Show ****************************************************/
.show-edit-wrapper{
	position: relative;
}

.show-edit-wrapper .show .text{
	position: relative;
	cursor: pointer;
	background: rgba(0,0,0,.2);
	margin-bottom: 10px;
}

.show-edit-wrapper .show.big .text{
	min-height: 200px;
}

.show-edit-wrapper .show .text:after{
	content:'\f044';
	font-family: 'FontAwesome';
	background: black;
	padding: 5px;
	padding-left: 7px;
	position: absolute;
	top: 0px;
	right:0px;
	display: none;
	color:white;
	width: 50px;
	text-align: center;
	height: 44px;
	line-height: 35px;
}

.show-edit-wrapper .edit{
	display:none;
}

.show-edit-wrapper:hover .show .text:after{
	display: block;
}



.show-edit-wrapper .show .text{
	padding: 10px;
	/*background: white;*/
	color:white;
}

.show-edit-wrapper .show label{
	background: none;
	padding-left:5px;
}

/*ENDS: Edit-Show ****************************************************/



/*ENDS: Sweet alert*****************************************************/

/*--------------------------------------------------------------
12.0 - Preloader
--------------------------------------------------------------*/

.loader-wrapper{
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	bottom: 0;
	right:0;
	position: fixed;
	z-index: 9999999;
	display: block;
}
.loader {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 999999;
  overflow: hidden;
  background: #ffffff;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.loader img{
  position: absolute;
  top:50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -220px;
}

.loader .bars-animation {
  display: block;
  width: 50px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -25px;
}
.loader .bars-animation .bar {
  display: block;
  position: absolute;
  bottom: 0;
  width: 9px;
  background: #DE353A;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader .bars-animation .bar:hover {
  background: rgba(0, 0, 0, 0.3);
}
.loader .bars-animation .bar.one {
  height: 60%;
  left: 0;
  -moz-animation-name: bar1;
  -webkit-animation-name: bar1;
  animation-name: bar1;
}
.loader .bars-animation .bar.two {
  height: 85%;
  left: 10px;
  -moz-animation-name: bar2;
  -webkit-animation-name: bar2;
  animation-name: bar2;
}
.loader .bars-animation .bar.three {
  height: 45%;
  left: 20px;
  -moz-animation-name: bar3;
  -webkit-animation-name: bar3;
  animation-name: bar3;
}
.loader .bars-animation .bar.four {
  height: 66%;
  left: 30px;
  -moz-animation-name: bar4;
  -webkit-animation-name: bar4;
  animation-name: bar4;
}
.loader .bars-animation .bar.five {
  height: 15%;
  left: 40px;
  -moz-animation-name: bar5;
  -webkit-animation-name: bar5;
  animation-name: bar5;
}

@-webkit-keyframes bar1 {
  0% {
    height: 60%;
  }
  25% {
    height: 95%;
  }
  50% {
    height: 35%;
  }
  75% {
    height: 10%;
  }
}
@-moz-keyframes bar1 {
  0% {
    height: 60%;
  }
  25% {
    height: 95%;
  }
  50% {
    height: 35%;
  }
  75% {
    height: 10%;
  }
}
@keyframes bar1 {
  0% {
    height: 60%;
  }
  25% {
    height: 95%;
  }
  50% {
    height: 35%;
  }
  75% {
    height: 10%;
  }
}
@-webkit-keyframes bar2 {
  0% {
    height: 85%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 20%;
  }
  75% {
    height: 50%;
  }
}
@-moz-keyframes bar2 {
  0% {
    height: 85%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 20%;
  }
  75% {
    height: 50%;
  }
}
@keyframes bar2 {
  0% {
    height: 85%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 20%;
  }
  75% {
    height: 50%;
  }
}
@-webkit-keyframes bar3 {
  0% {
    height: 45%;
  }
  25% {
    height: 65%;
  }
  50% {
    height: 80%;
  }
  75% {
    height: 75%;
  }
}
@-moz-keyframes bar3 {
  0% {
    height: 45%;
  }
  25% {
    height: 65%;
  }
  50% {
    height: 80%;
  }
  75% {
    height: 75%;
  }
}
@keyframes bar3 {
  0% {
    height: 45%;
  }
  25% {
    height: 65%;
  }
  50% {
    height: 80%;
  }
  75% {
    height: 75%;
  }
}
@-webkit-keyframes bar4 {
  0% {
    height: 66%;
  }
  25% {
    height: 20%;
  }
  50% {
    height: 45%;
  }
  75% {
    height: 30%;
  }
}
@-moz-keyframes bar4 {
  0% {
    height: 66%;
  }
  25% {
    height: 20%;
  }
  50% {
    height: 45%;
  }
  75% {
    height: 30%;
  }
}
@keyframes bar4 {
  0% {
    height: 66%;
  }
  25% {
    height: 20%;
  }
  50% {
    height: 45%;
  }
  75% {
    height: 30%;
  }
}
@-webkit-keyframes bar5 {
  0% {
    height: 15%;
  }
  25% {
    height: 45%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 70%;
  }
}
@-moz-keyframes bar5 {
  0% {
    height: 15%;
  }
  25% {
    height: 45%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 70%;
  }
}
@keyframes bar5 {
  0% {
    height: 15%;
  }
  25% {
    height: 45%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 70%;
  }
}

/*STARTS: landing ****************************************************/

.landing .container{
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin:0;
	margin-top: -20px;
}
.landing-subtitle {
	font-size: 20px;
	padding: 0 40px 20px;
}
/*STARTS: TopBar***************************************************/
.topbar-responsive {
  background: black;
	width: 100%;
  padding: 1rem 1.5rem;
	position: fixed;
	z-index: 9999;
}
.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}
.topbar-responsive .menu {
  background: black;

}
.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}
.topbar-responsive .menu li:hover {
	background: none;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}
.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}
@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}
.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}
.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}
@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
		height: 40px;
    margin: 0.875rem 0;
  }
	.menu.simple li + li {
    margin-left: 0;
	}
	.topbar-responsive .menu a {
    padding: 0 0;
	}
}
@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}
/*ENDS: TopBar***************************************************/

/*STARTS: Slide***************************************************/
.clean-hero-slider .orbit-caption {
  width: auto;
  height: auto;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  padding: 0.2rem 2rem;
}

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
		border-radius: 0 20px 20px 0;
    text-align: right;
    width: 80%;
    right: 0;
    padding: 2rem 8rem;
  }
}

@media screen and (min-width: 75em) {
  .clean-hero-slider .orbit-caption {
    padding-right: 10%;
  }
}

@media screen and (min-width: 90em) {
  .clean-hero-slider .orbit-caption {
    padding-right: 20%;
  }
}

.clean-hero-slider .orbit-caption p {
  font-size: 0.9rem;
  line-height: 1.25;
}

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-caption p {
    font-size: 1.1rem;
  }
}

.clean-hero-slider .orbit-caption h3 {
  color: #D03639;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}
.clean-hero-slider .orbit-caption p {

  margin-top: 25px;
	text-align: center;
}

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-caption h3 {
    font-size: 2.5rem;
    font-weight: normal;
  }
}

.clean-hero-slider .orbit-slide {
  padding-bottom: 40%;
  background: #0a0a0a;
}

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-slide {
    padding-bottom: 0;
  }
}

.clean-hero-slider .orbit-controls button {
  background: transparent;
  padding: 1rem 0.5rem;
}

.clean-hero-slider .orbit-controls button:hover {
  transition: color 0.15s ease-in;
  color: #7c7c7c;
	cursor: pointer;
}

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-button .orbit-previous {
    left: auto;
		right: 2.4rem;
  }
	.orbit-previous, .orbit-next {
		right: 0.5rem;
	}
	.bottom-content-section {
		position: absolute;
		top:80%;
		color: white;
		right: 47%;
	}
}

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-controls .orbit-next {
    right: 0.5rem;
  }
}

.clean-hero-slider .orbit-bullets {
  display: none;
}

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-bullets {
    display: block;
    margin-bottom: 0;
    margin-top: -3rem;
    background: none;
  }
}

@media print, screen and (max-width: 40em) {
		.orbit-image .orbit-figure img {
			height: 400px;
			width: auto;
		}
	 .clean-hero-slider .orbit-caption {
		 position: absolute;
		 -webkit-transform: translateY(-50%);
				 -ms-transform: translateY(-50%);
						 transform: translateY(-50%);
		 background: rgba(0, 0, 0, 0.5);
		 text-align: left;
		 width: 100%;
		 height: auto;
		 right: 0;
	 }
	 .bottom-content-section {
		 position: absolute;
		 top:70%;
		 color: white;
		 right: 47%;
		}
}
.clean-hero-slider .orbit-bullets button {
  width: 3rem;
  height: 0.4rem;
  border-radius: 0;
  background-color: #fefefe;
}

.clean-hero-slider .orbit-bullets button.is-active {
  background-color: #ffae00;
}

.clean-hero-slider ul.orbit-container {
  height: auto !important;
}

.clean-hero-slider li.orbit-slide {
  max-height: none !important;
}

/*ENDS: Slide***************************************************/

/*STARS: Company***************************************************/

.top-company {
	margin-top: -20px;
	padding:120px 0 40px 0;
	background-color: #dbdbdb;
	color: #333;
}
.bullets-company{
	padding: 20px 10px;
}

.description-salas {
	padding-bottom: 60px;
}

/*ENDS: Company***************************************************/

/*STARS: Features***************************************************/
.feature {
  text-align: center;
  padding: 8rem 0 4rem 0;
	background-color: #2c3840;
}
.feature .fa {
  margin-bottom: 1rem;
	padding-top: 2rem;
}

.feature-title {
	padding: 20px 10px;
}

/*ENDS: Features***************************************************/



/*Video background*/

.placeholder-image{
	position: static!important;
}

/*Owl Carrousel*/


footer{
	/*border-top:5px solid white;*/
	background: black;
	bottom: 0;
	left:0;
	width: 100%;
	height: 80px;
	text-align: center;
	padding-top: 10px;
	z-index: 1007;
	font-size: .8em;
	position: fixed;
}

.owl-carousel{
	background: rgba(0,0,0,.5);
	height: 110%;
	z-index: 9999;
}
.owl-carousel .owl-item img{
	width: inherit!important;
	display: inline!important;
}

.owl-carousel .item{
	padding: 10px 100px;

}

.owl-carousel .item .wrapper{
	max-width: 800px;
	margin: auto;
}


.owl-carousel .item h2{
	font-size: 2.5em;
}

@media screen and (max-width: 700px) {
	.owl-carousel .item h2{
		font-size: 2em;
	}
	.owl-carousel .item p{
		font-size:1em;
		text-align: center;
	}
}

@media screen and (max-width: 550px) {
	.owl-carousel .item img{
		max-width: 150px;
	}
	.owl-carousel .item{
		padding: 10px 40px;
	}
	.owl-carousel .item h2{
		font-size: 1.5em;
	}
	.owl-carousel .item p{
		font-size:1em;
		text-align: center;
	}
}

.owl-carousel .item p{
	font-size:1.5em;
	text-align: center;
	
}



.owl-next{
	position: absolute;
	top:40%;
	right: 20px;
	font-size: 2em;
}

.owl-prev{
	position: absolute;
	top:40%;
	left: 20px;
	font-size: 2em;
}

.slider_wrapper .background-video{
	position: absolute;
	/*z-index: -20;*/
}

#ytplayer-shield{
	display: none;
}

.slider_wrapper{
	position: relative;
	width: 100%; 
	height: 1000px;
	overflow: hidden;
}

.slider_wrapper .button{
	width: 300px;
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -150px;
	z-index: 2;
}


.feature-item .feature-title{
	padding: 0;
	margin-bottom: 10px;
}

.feature-item .icon{
	font-size: 2em;
}

.feature-item{
	padding-bottom: 100px;
}

.top-company{
	background: none;
	color: white;
	padding-bottom:100px;
}

.top-company p{
	max-width: 1000px;
	margin:auto;
}

.top-company h2{
	margin-bottom: 10px;
	color:white;
}
.top-company p{
	font-size: 1.3em;
}

.top-company h3{

}

.bullets-company{
	padding:0;
}

.description-salas{
	padding: 0;
}


/*STARTS: BAND EDIT******************************/

.band_edit .members_re{
	margin-bottom: 30px;
}

.band_edit .member.unregistered {
	opacity: 1;
}

.band_edit .member.registered{
	font-size: 1em;
	color:white;
	padding: 5px 10px;
	border-radius: 5px;
	margin-top: 10px;
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
	background: #2FAB31;

}

.band_edit .members_un{
	position: relative;
}

.band_edit .members_un .delete{
	position: absolute;
	top:3px;
	right:20px;
	color:black;
	font-size: 1.5em;
	cursor: pointer!important;
}

.band_edit .members_un .resend{
	position: absolute;
	top:3px;
	right:60px;
	color:black;
	font-size: 1.5em;
	cursor: pointer!important;
}


/*ENDS: BAND EDIT********************************/

/*STARTS: REPORTS*********************************/
.report .hours{
	font-size: 5em;
	text-align: center;
}

.report .description{
	font-size: .8em;
	text-align: center;
}

.report .incomings_wrapper{
	padding: 50px;
	background: #36A939;
	margin-top: 50px;

}

.report .incomings{
	font-size: 5em;
	text-align: center;


}
/*ENDS: REPORTS***********************************/