
/*STARTS: hero full screen ******************************************/
.hero-full-screen {
  height: 90vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/back_com.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
  padding: 12% 30px;
	}
.hero-full-screen .top-content-section {
  width: 100%;
}
.hero-full-screen .bottom-content-section {
	margin-top: -50px;
}
.hero-full-screen .bottom-content-section svg {
  height: 2rem;
  width: 2rem;
  fill: #fefefe;
}
/*ENDS: hero full screen ******************************************/

/*STARTS: Features ******************************************/
.top-company_landing {
	background-color: #2c3840;
	padding-top: 30px;
}
.four-up-feature {
  text-align: center;
  padding: 0 10%;
}
.four-up-feature .four-up-feature-header {
  margin-bottom: 3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.four-up-feature .four-up-feature-image {
  margin-bottom: 2rem;
  height: 70px;
}
.four-up-feature .four-up-feature-text {
  margin-bottom: 2rem;
}
/*ENDS: Features ******************************************/